@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* to show boxes */
/* * {
  border: 1px black solid;
} */

/* simple reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

body {
  height: 100vh;
  background: rgba(255, 255, 255, 0.25);
  background-image: url("../public/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-attachment: fixed;
}

#root {
  display: grid;
  grid-template-rows: 8rem 1fr 4rem;
}

nav {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.navLogo {
  height: 6rem;
  display: flex;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

a {
  font-size: 1.5rem;
  color: rgb(0, 0, 0, 0.5);
}

a:hover,
a.active {
  color: rgb(0, 0, 0, 1);
}

.shoppingCartIcon {
  height: 2rem;
  cursor: pointer;
}

.material-symbols-rounded {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(0, 0, 0, 0.5);
}

.material-symbols-rounded:hover {
  color: rgb(0, 0, 0, 1);
}

.shoppingCartQuantity {
  position: relative;
  top: -125%;
  right: -65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  background-color: rgb(255, 0, 0, 0.5);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
}

.shopContainer {
  padding: 2rem 10rem 2rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.plantElement {
  display: flex;
  flex-direction: column;
}

.plantPhoto {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 400px;
  width: 300px;
}

.plantInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.plantName {
  font-weight: 600;
  padding: 0.5rem;
}

.addToCartButton {
  appearance: none;
  background: rgba(255, 255, 255, 0.75);
  margin-top: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.addToCartButton:hover {
  background: rgb(209, 209, 209);
}

footer {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL BACKGROUND */
#modalBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* MODAL */
#cartModal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 30rem;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.9);
  animation-name: animateright;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  padding: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#cartModal::-webkit-scrollbar {
  display: none;
}

@keyframes animateright {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.cartTitle {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: center;
}

.plantInCart {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px black solid;
}

#cartModal div:last-of-type {
  border-bottom: 0;
}

.plantInCartImage {
  height: 160px;
  width: 120px;
}

.plantInCartInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0rem 1rem 0rem 1rem;
  line-height: 1.7;
}

.plantInCartName {
  font-weight: 600;
}

.totalOrder {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: center;
}

.checkoutButton {
  appearance: none;
  background: rgb(221, 221, 221);
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.checkoutButton:hover {
  background: rgb(209, 209, 209);
}
